.app-header{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    background-color: #131A28;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.heading-text{
    color: #fff;
    font-size:35px;
    font-weight:bolder;
    text-align: center;
    margin: 60px;
}
.row{
    display:flex;
    flex-direction:row;
}

.column{
    display:flex;
    flex-direction:column;
}

.jc-center{
    justify-content: center;
}

.square{
    padding:35px;
    min-width: 100px;
    min-height: 100px;
    font-size: 40px;
    text-align: center;
    color: #1CDBF5;
    font-weight: bold;
}

.b-bottom-right{
    border-right: 10px solid #1CDBF5;
    border-bottom: 10px solid #1CDBF5;
}

.b-bottom{
    border-bottom: 10px solid #1CDBF5;
}

.b-right{
    border-right: 10px solid #1CDBF5;
}

.clear-button{
    width: max-content;
    margin: 40px auto 10px auto;
    padding: 10px;
    font-weight: bold;
    background-color: #131A28;
    color: #fff;
    border: none;
    font-size: 21px;
    cursor: pointer;
}

.fc-aqua {
    color: #1CDBF5;
}

.fc-white {
    color: white;
}

.fw-600 {
    font-weight: bolder;
}
